<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div id="form">
    Old password: <input type="text" name="old_password" id="old"><br>
    New password: <input type="text" name="new_password" id="new"><br>
    <input type="submit" value="Submit" onclick=reset_password()>
</div>
<div>
    <h3 id="result"></h3>
</div>


<script>
    function reset_password() {
        var oldPassword = document.getElementById("old").value;
        var newPassword = document.getElementById("new").value;
        var url = new URL(window.location.href);
        var token = url.searchParams.get("token");

        var body = {"oldPassword": oldPassword, "newPassword": newPassword, "token": token};

        $.ajax({
            url: '/users/new-password',
            type: 'post',
            data: JSON.stringify(body),
            headers: {
                "Content-Type":
                    "application/json"
            }
            ,
            success: function (result) {
                document.getElementById("form").style.display = 'none';
                document.getElementById("result").innerText = result ? "Success" : "Fail";
            }
        })
        ;
    }
</script>
</body>
</html>